# repository
/port-map.sh
.env

# dependenices
node_modules/

# cache
.nx/
.angular/
tmp/

# operating system
.DS_Store
Thumbs.db

# build output
dist/
out-tsc/

# ide
/.idea/**/workspace.xml
/.idea/**/usage.statistics.xml
/.idea/**/shelf
/.idea/cody_history.xml
*.iml
.angular
