@use 'dist/ngx-front-engine/assets/fe-styles/theme';
@use 'dist/ngx-front-engine/assets/fe-styles/utils';

:host {

    display        : grid;
    grid-auto-flow : row;
    grid-gap       : utils.rem(3.75);

    max-width      : utils.rem(50);

    & > div {

        display        : grid;
        grid-auto-flow : row;
        grid-gap       : utils.rem(1.25);

        & > span {
            @include theme.commonFont('heading');
        }
    }
}
