@use 'dist/ngx-front-engine/assets/fe-styles/theme';
@use 'dist/ngx-front-engine/assets/fe-styles/utils';

:host {

    display    : block;

    position   : absolute;

    top        : 0;
    left       : 0;

    width      : utils.vw(100);
    height     : utils.vh(100);

    background : #eeeeee;

    & > nav {

        & > svg-icon {

            display     : grid;
            place-items : center;

            width       : utils.fes((5 * 2.5) - (1.25 * 2));

            & > svg {
                width : 100%;
            }
        }

        &:nth-child(1) {

            position              : fixed;

            top                   : 0;
            left                  : 0;

            width                 : utils.vw(100);
            height                : utils.fes(5);

            border-bottom         : utils.fes(.15) solid #dddddd;

            display               : grid;
            grid-auto-flow        : column;
            grid-template-columns : utils.fes(5 * 2.5) 1fr;
            grid-gap              : utils.fes(1.25);

            align-items           : center;

            @include theme.scrollbar(#dddddd, #dddddd, transparent, 'x', utils.fes(.5), utils.fes(.25));

            & > svg-icon {
                justify-self : center;
            }
        }

        &:nth-child(2) {

            position     : fixed;

            top          : utils.fes(5);
            left         : 0;

            width        : utils.fes(5 * 2.5);
            height       : calc(#{utils.rawVh(100) + ' - ' + utils.rawFes(5)});

            border-right : utils.fes(.15) solid #dddddd;

            @include theme.scrollbar(#dddddd, #dddddd, transparent, 'y', utils.fes(.5), utils.fes(.25));

            background   : #eeeeee;
        }
    }

    & > .page {

        position : absolute;

        left     : utils.fes(5 * 2.5);
        top      : utils.fes(5);

        width    : calc(#{utils.rawVw(100) + ' - ' + utils.rawFes(5 * 2.5)});
        height   : calc(#{utils.rawVh(100) + ' - ' + utils.rawFes(5)});

        padding  : utils.fes(2.2);

        @include theme.scrollbar(#dddddd, #dddddd, transparent, 'y', utils.fes(.5), utils.fes(.25));
    }
}
