@use '~dist/ngx-front-engine/assets/fe-styles/theme';

:host {

    display        : grid;
    grid-auto-flow : row;
    grid-gap       : 20px;

    width          : 100%;

    & > .note {

        @include theme.commonFont('code');

        & > span {
            display       : block;
            margin-bottom : 5px;
        }

        & > span:nth-child(1) {
            text-decoration : underline;
        }
    }
}
