@use '~dist/ngx-front-engine/assets/fe-styles/theme';

:host {

    display               : grid;
    grid-auto-flow        : row;
    grid-gap              : 20px;
    place-content         : start;
    grid-template-columns : 1fr;

    width                 : 100%;

    & > form {
        margin-top : 5px;
        max-width  : 500px;
    }

    & > .scroll {

        height : calc(100vh - 80px - (2 * 35px));

        @include theme.scrollbar(trasparent, transparent, transparent, 'y', 0.5rem, 0.25rem);

        & > fe-table {
            margin-bottom : 100vh;
        }
    }
}
