@use 'dist/ngx-front-engine/assets/fe-styles/utils';

:host {

    display : block;

    width   : 100%;

    margin  : utils.fes(1) 0;

    & > a {

        width                      : utils.opFes('100% -', 1);
        height                     : utils.fes(3.45);

        display                    : grid;
        align-items                : center;

        cursor                     : pointer;

        border-top-right-radius    : utils.maxValue();
        border-bottom-right-radius : utils.maxValue();

        &.active {
            background : #dddddd;
        }

        & > span {
            padding-left : utils.fes(1.25);
        }
    }
}
