@use 'dist/ngx-front-engine/assets/fe-styles/theme';
@use 'dist/ngx-front-engine/assets/fe-styles/utils';

:host {

    & > form {

        display        : grid;
        grid-auto-flow : row;
        grid-gap       : utils.rem(3.75);

        & > div {

            display        : grid;
            grid-auto-flow : row;
            grid-gap       : utils.rem(1.25);

            & > div {
                width          : utils.rem(30);
                display        : grid;
                grid-auto-flow : row;
                grid-gap       : utils.rem(1.2);
            }

            & > span {
                @include theme.commonFont('heading');
            }
        }
    }
}
