@use '~dist/ngx-front-engine/assets/fe-styles/theme';

:host {
  
  @include theme.commonFont('body');
  
  user-select : none;
  
  & .inline {
	
	width          : fit-content;
	
	display        : grid;
	grid-auto-flow : column;
	align-items    : center;
	
	& > span {
	  display : inline;
	}
  }
}