@use 'dist/ngx-front-engine/assets/fe-styles/theme';
@use 'dist/ngx-front-engine/assets/fe-styles/utils';

:host {

    display        : grid;
    grid-auto-flow : row;
    grid-gap       : utils.rem(1.25);

    & > .note {

        @include theme.commonFont('code');

        & > span {
            display       : block;
            margin-bottom : utils.rem(.31);
        }

        & > span:nth-child(1) {
            text-decoration : underline;
        }
    }

    & > .inline {

        width          : fit-content;

        display        : grid;
        grid-auto-flow : column;
        grid-gap       : utils.rem(1.25);
    }

    & > fe-alert-portal {
        max-width : utils.rem(30);
    }

    & > .divider {
        width  : 100%;
        border : utils.rem(.06) solid theme.commonHex('text-tertiary');
    }
}
